* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #3ca3df;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

#login_name{
    color: #DBE2EF;
}

footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #666;
}

#flash-container{
    position: fixed;
    top: 20px;
    right: 20px;
}

.flash-message{
    background: #222;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 10px;
    opacity: 1;
    /* transition passer på at meldingen fader ut */
    transition: opacity 0.5s ease;
}