<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittel %}Min Flask-app{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Forside</a>
        <a href="/om">Om</a>
        <a href="/messages">Meldinger</a>
            
        <a href="/privacy">Personvern</a>

            {# viser bare visse knapper kommende ann på om brukeren er logget inn eller ikke #}
            {% if session.get("user_id") %}
            <a href="/settings">Innstillinger</a>
            <a href="/logout">Logout</a>
            <p id="login_name"> logged in as {{session.get("username") }} </p>
            {% else %}
            <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        {% endif %}

    </nav>

    {# henter flash-meldinger og sletter dem fra session #}
    {# alle refreshes etter dette vil flashmeldingen ikke finnes #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-container">
                {# lager en container for alle flash-meldinger #}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        {% block innhold %}{% endblock %}
    </main>

    <footer>
        <p>Laget med Flask</p>
    </footer>

    <script>

    // gjør flashmeldingen usynlig etter 3 sekunder, og fjerner den helt etter 3.5 sekunder
    setTimeout(() => {
        const flashes = document.querySelectorAll(".flash-message");

        flashes.forEach(msg => {
            msg.style.opacity = "0";

            setTimeout(() => {
                msg.remove();
            }, 500);
        });

    }, 3000);
</script>
</body>
</html>